.red {
  border: 1px solid black;
  background-color: red;
  height: 200px;
  width: 200px;
  transition: width 2s, height 2s, background-color 5s;
}

.red:hover {
  background-color: indigo;
  width: 500px;
}
